body {
    margin: 60px auto;
    width: 70%;
}
div {
	font-size: 1.25em;
	text-align: center;
	border: 1px;
	border-radius: 5px;
	display:inline;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
	font-size: 1.5em;
	line-height: 1.4em;
	color: #333;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.wrapper {
	display: block;
	width: 100%;
}

.nav-bar {
	float: left;
	width: 15%;
	padding-top: 35%;
	display: inline-block;
	background-color: lightgray;
	padding-bottom: 50%;
}

.content {
	width: 78%;
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block;
}

.nav-link {
	color: blue;
	margin-top: 1em;
	margin-bottom: 1em;
	display: block;
}
